@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

/*inicio-barra-navegação*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: black;
    height: 15vh;
    border-bottom: 5px solid #fff;
}

.logo img {
    width: 170px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: 0.3s;
    border-radius: 5px;
}

.nav-list a:hover {
    color: grey;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list li i {
    font-size: 20px;
}

.nav-list.active {
    transform: translateX(0);
}

.nav-list li .fa-linkedin-in:hover {
    color: rgb(68, 68, 218);
}

.nav-list li .fa-whatsapp:hover {
    color: green;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*fim-barra-navegação*/

/*inicio-future*/
.future-content {
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: center;
    background-color: black;
}

.future-title {
    display: flex;
    margin: 10px auto;
}

.future-title h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
}

.future-img {
    background-image: url(../img/img-7.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 70vh;
    position: absolute;
    background-position-x: right;
    opacity: 0.3;
}
/*final-future*/

/*inicio-sobre*/
.sobre-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    height: 70vh;
    background-color: #fff;
}

.sobre {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    width: 550px;
    padding: 15px;
}

.sobre h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
}

.sobre p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
}

.sobre a {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px black;

    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}

.sobre a:hover {
    color: gray;
}

.sobre-img {
    display: flex;
    justify-content: center;
    width: 550px;
    padding: 15px;
}

.sobre-img img {
    width: 400px;
}
/*final-sobre*/

.linha {
    width: 50%;
    height: 4px;
    border: none;
    background-color: black;
    transition: 0.9s;
}

.linha:hover {
    cursor: pointer;
    width: 100%;
}

/*inicio-projetos*/
.projetos-title {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 30px;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
}

.projetos-content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}    

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    background-color: gainsboro;
    padding: 15px;
    border-radius: 20px;
}

.projetos img {
    display: flex;
    height: 280px;
    width: 330px;
    object-fit: contain;
    transition: 0.8s;
}

.projetos img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.projetos h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    margin: 10px 0;
    padding: 8px 0;
    border-radius: 9px;
    background-color: black;
}

.projetos a {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
    border-radius: 10px;
    border-bottom: 1px solid black;
    text-decoration: none;
    padding: 10px;
    transition: 0.4s;
    margin: 10px 0;
    transition: 0.8s;
}

.projetos a:hover {
    border: 1px solid black;
    background-color: white;
}
/*fim-projetos*/



/*inicio-rodape*/
.rodape-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 25vh;
    border-top: 5px solid gray;
    background-color: black;
}

.rodape-content img {
    width: 150px;
    object-fit: contain;
}

.rodape-links  {
    display: flex;
    gap: 20px;
}

.rodape-links a {
    font-size: 20px;
    color: white;
    transition: 0.4s;
}

.rodape-links .fa-linkedin-in:hover {
    color: rgb(68, 68, 218);
}

.rodape-links .fa-whatsapp:hover {
    color: green;
}

.criador {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    background-color: black;
    border-top: 1px solid white;
    padding: 5px 0;
}

.criador p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
}